<mat-dialog-content>
  <h1 mat-dialog-title>Manzanas Ecologicas</h1>
  <img id="fotoProduct" src="../../../assets/fotos/manzanita.jpg" alt="">
  <div id="cuerpoTexto">
    <p class="contentCard"><span class="nameField">Precio:</span> 2€/kg</p>
    <p class="contentCard">
      <span class="nameField">Productor:</span> Antonio López
    </p>
    <p class="contentCard">
      <span class="nameField">Trueque por : </span> lechuga y pera
    </p>
    <p class="contentCard">
      <span class="nameField">Descripcion : </span> La manzana Royal Gala es una
      de las más apreciadas por los consumidores de frutas y verduras. Es una
      manzana muy dulce y muy crujiente.
    </p>
  </div>
  <mat-dialog-actions>
    <button id="buy">Añadir al carrito</button>
  </mat-dialog-actions>
</mat-dialog-content>
