/* 
COLORES
    > naranja claro --> #F39C12
    > naranja ocuro --> #E67E22
    > verde ----------> #267172
    > gris -----------> #767676
    > blanco ---------> #FdFFFF

TIPOGRAFIAS
    > Headers: font-family: 'Signika', sans-serif;
    > Textos: font-family: 'Roboto', sans-serif; */

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: inherit;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#container {
  width: 100%;
  margin: 0;
}
#dataprofile {
  margin-top: 10%;
}
#dataprofile input {
  padding: 8px;
  margin-bottom: 6%;
  margin-left: 5px;
  margin-right: 25px;
  width: 400px;
}
/*#dataprofile button {
  background-color: #267172;
  border-radius: 15px;
  color: #fdffff;
  padding: 10px;
  width: 200px;
  border-style: none;
  margin-left: 10%;
}*/

button {
  border-radius: 25px;
  width: 205px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fdffee;
  font-size: 15px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  background-color: #267172;
  transition: box-shadow 0.16s ease;
}

button:hover {
  background: #408f91;
  box-shadow: none;
}

#foto_perfil {
  border-radius: 50%;
  width: 350px;
  margin-top: 10%;
}
#edit_foto {
  border-style: none;
  background-color: #fdffff;
  margin-left: 320px;

}

.cardtitle
{
    font-family: 'Signika', sans-serif;
    text-align: center;
    /* margin-left: 7%; */
    color: #e67e22;
}

/* RESPONISVE */
@media screen and (max-width: 830px) {
  #edit-profile {
    flex-direction: column;
  }
  #foto_perfil {
    margin-left: 10%;
  }
  #edit_foto {
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-10%, -60%);
  }
}
@media screen and (max-width: 450px) {
  #edit_foto {
    display: none;
  }
}
