<h1 class = "cardtitle" style="margin-top:10px">Edita tu perfil</h1>
<hr style="background-color: #e67e22;">
<div class="col" id="container">

    <div id="edit-profile" class="row">

        <div class="col">
            <!-- imagen de perfil -->
            <img id="foto_perfil" src="../../../assets/img/foto_perfil.png" alt="imagen de perfil">
            <!-- boton para editar imagen de perfil -->
            <button class = "row"id="edit_foto"><img src="../../../assets/img/lapiz.png"></button>
        </div>

        <div class="col" id="dataprofile">  
            <!-- input para modificar datos perfil -->
            <input type="text" placeholder="Introduce un nuevo nombre de usuario">
            
            <input type="number" placeholder="Introduce un nuevo telefono de contacto">
            <input type="email" placeholder="Introduce un nuevo email de contacto">
            <input type="text" placeholder="Introduce una direccion">
            <input type="text" placeholder="Acectas trueque">
            
            <!-- boton guarda modificaciones de perfil -->
            <button  >Guardar cambios</button>
        </div>

    </div>

</div>