<!-- FILTROS DE LA HUERTA -->

<div id="filtros" class="rowFiltros">
<mat-expansion-panel id="lineExp" hideToggle>
    <mat-expansion-panel-header id="lineExp1">
    <mat-panel-title id="filtroName">
        <p>Filtrar productos</p>
    </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="rowInsideFiltros" >
        <div class="columnFilter" id="localizacion">
        <p>Localización</p>
        <div class="columnFilter">
            <div class="rowInsideFiltros">
            <input type="checkbox" id="madrid"  name="madrid" value="Madrid" />
            <label for="madrid" >Madrid</label><br />
            </div>
            <div class="rowInsideFiltros">
            <input type="checkbox" id="castillaLaMancha" name="castillaLaMancha" value="CastillaLaMancha"/>
            <label for="castillaLaMancha" class="rowInsideFiltros">Castilla La Mancha</label><br />
            </div>
            <div class="rowInsideFiltros">
            <input type="checkbox"id="castillaLeon" name="castillaLeon"value="castillaLeon"/>
            <label for="castillaLeon">Castilla y León</label><br />
            </div>
        </div>
        </div>

        <div class="columnFilter" id="precio">
        <p>Precio</p>
        <div>
            <mat-slider>PONER INDICATIVO DE PRECIO CON js</mat-slider>
        </div>
        </div>

        <div class="columnFilter" id="product">
        <p>Producto</p>
        <div >
            <input type="checkbox" id="fruta" name="fruta" value="fruta" />
            <label for="fruta">Fruta</label><br />
            <input type="checkbox" id="verdura" name="verdura" value="verdura" />
            <label for="fruta">verdura</label><br /> 
        </div>
        </div>
        <div class="columnFilter" id="eco">
            <p>Eco</p>
            <div>
                <input type="checkbox" id="eco" name="eco" value="eco" />
                <label for="fruta">Eco</label><br>
            </div>
        </div>

        <div class="columnFilter" id="trueque">
            <p>Trueque</p>
            <div>
                <input type="checkbox" id="trueque" name="trueque" value="trueque" />
                <label for="fruta">Acepta trueque</label><br />
            </div>
        </div>
    </div>
    <div class= "rowFiltros" id="filtrosButton">
        <button>Filtrar</button>
    </div>
    </mat-expansion-panel>
<div id="buscar">
    <img id="lupa" src="./assets/img/lupa3.png" alt="" />
    <input matInput placeholder="Buscar" />
</div>
</div>


<!-- TARJETAS -->

<div class="rowCards" id="collectCards">
<mat-card (click) = "openDialog()" class="cards columnCards">
    <img
    class="imgCard"
    mat-card-image
    src="./assets/fotos/manzanita.jpg"
    alt="manzanas"
    />
    <mat-card-title class="cardtitle">Manzanas ecológicas</mat-card-title>
    <mat-card-content>
    <p class="contentCard"><span class="nameField">Precio:</span> 2€/kg</p>
    <p class="contentCard">
        <span class="nameField">Productor:</span> Antonio López
    </p>
    <p class="contentCard">
        <span class="nameField">Adquirir por : </span> trueque
    </p>
    </mat-card-content>
</mat-card>

<mat-card (click) = "openDialog()" class="cards columnCards">
    <img
    class="imgCard"
    mat-card-image
    src="./assets/fotos/tomate.jpg"
    alt="tomates"
    />
    <mat-card-title class="cardtitle">Tomates</mat-card-title>
    <mat-card-content>
    <p class="contentCard"><span class="nameField">Precio:</span> 2€/kg</p>
    <p class="contentCard">
        <span class="nameField">Productor:</span> Antonio López
    </p>
    <p class="contentCard">
        <span class="nameField">Adquirir por : </span> trueque
    </p>
    </mat-card-content>
</mat-card>

<mat-card (click) = "openDialog()" class="cards columnCards">
    <img
    class="imgCard"
    mat-card-image
    src="./assets/fotos/zanahorias2.jpg"
    alt="zanahorias"
    />
    <mat-card-title class="cardtitle">Zanahorias ecológicas</mat-card-title>
    <mat-card-content>
    <p class="contentCard"><span class="nameField">Precio:</span> 2€/kg</p>
    <p class="contentCard">
        <span class="nameField">Productor:</span> Antonio López
    </p>
    <p class="contentCard">
        <span class="nameField">Adquirir por : </span> trueque
    </p>
    </mat-card-content>
</mat-card>
</div>

