/*Filtros*/
.rowFiltros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.rowInsideFiltros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.columnFilter {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: flex-start;
}
.columnCheck {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#filtros {
  margin-top: 30px;
  border-bottom: solid 3px #e67e22;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

#filtros p {
  font-family: "Signika", sans-serif;
  font-size: 20px;
  color: #e67e22;
}

input{
  margin-top: 2px;
}
#lupa {
  width: 14px;
  height: 15px;
  margin-right: 5px;
  padding-top: 2px;
}

#localizacion {
  margin-left: 10px;
  margin-right: 10px;
}
#precio {
  margin-left: 10px;
  margin-right: 10px;
}

label{
  margin-left: 5px;
}
#filtrosButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 37%;
  margin-right: 37%;
}
mat-expansion-panel{
  width: 850px;
  margin-left: 235px;
}
#buscar{
 margin-right: 140px;
 margin-bottom: 30px
}
button {
  border-radius: 25px;
  width: 85px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fdffee;
  font-size: 15px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  background-color: #267172;
  transition: box-shadow 0.16s ease;
  margin-left: 55px;
}

button:hover {
  background: #408f91;
  box-shadow: none;
}


::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #267172;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #267172;
} 

/*Titulos del body*/
#titleUp {
  text-align: center;
  margin-top: 15px;
}

h2 {
  font-family: "Signika", sans-serif;
  font-size: 23px;
  color: #767676;
  margin-bottom: 35px;
}

/*tarjetas*/
.cards {
  max-width: 265px;
  border-radius: 25px;
  padding-bottom: 30px;
  border-color: #767676;
  
}

#collectCards {
  padding: 12px;
  margin-top: 30px;
}

#collectCards > .cards {
  margin: 12px;
}
.cards:hover {
  box-shadow: 6px 6px 6px #267172;
}
.imgCard {
  background-size: cover;
}

.rowCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columnCards {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: flex-start;
}

.contentCard {
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #767676;
}

.cardtitle {
  font-family: "Signika", sans-serif;
  text-align: left;
  color: #e67e22;
}
.nameField {
  font-style: normal;
  font-weight: bold;
  color: #767676;
}
