<!-- <p>profile works!</p> -->


<!-- PERFIL -->
<div class="col" id="container">

    <div class="row" id="profile">

<!-- IMG DE PERFIL -->
        <div class="col" >
            <img id="imgPerfil" src="assets/img/foto_perfil.png" alt="foto perfil">
            <!-- <img src="" alt="stars"> -->
        </div>

<!-- DATOS PERFIL -->
        <h2 id="UserName">JAVIER HURTADO</h2>
        <a routerLink=""><img id="edit-profile" src="assets/img/24pxORANGE_editar.png"></a>

        <div class="col" id="data">
         
            <div class="row">
                <img src="assets/img/24px_telefono-inteligente.png" >
                <p>333.333.333</p>
            </div>
            <div class="row">
                <img src="assets/img/24px_email.png" >
                <p>hurtado@gmail.com</p>
            </div>
            <div class="row">
                <img src="assets/img/24px_mapa-con-un-pequeno-simbolo-de-alfiler-dentro-de-un-circulo.png" >
                <p>Getafe,Madrid</p>
            </div>
            <div class="row">
                <img src="assets/img/24px_handshake.png">
                <p>Si</p>
            </div>


        </div>

<!-- TROFEOS PERFIL -->
        <div class="col" id="trophy">

            <div class="row">
                <img src="../../../assets/icons/24px_trophy.png" >
                <p>Tomatero de Oro</p>
            </div>
            <div class="row">
                <img src="../../../assets/icons/24px_trophy.png" >
                <p>Alcachofista profesional</p>
            </div>
            <div class="row">
                <img src="../../../assets/icons/24px_trophy.png" >
                <p>El truequero</p>
            </div>
            <div class="row">
                <img src="../../../assets/icons/24px_trophy.png" >
                <p>La Re Pera</p>

                <a id="verLogros" routerLink="XXXXX">ver mis logros</a>
            </div>

        </div>

    </div>

</div>

<div class="col">
    <!-- NAVEGACION -->
    <div id="separador"></div>
    <div class="row" id="navBar">
        <a routerLink="../misproductos">Mis productos</a>
        <a routerLink="../historialpedidos">Mis envíos</a>
        <a routerLink="../pedidosactivos">Envios activos</a>
    </div>
</div>