<!-- <p>profile works!</p> -->


<!-- PERFIL -->
<div class="col" id="container">

    <div class="row" id="profile">

<!-- IMG DE PERFIL -->
        <div class="colImg" >
            <img class="colImg" id="imgPerfil" src="assets/img/foto_perfil.png" alt="foto perfil">
            <!-- <img src="" alt="stars"> -->
        </div>

<!-- DATOS PERFIL -->
        <div class="col" id="data">
            <h2 class = "row" id="UserName">JAVIER HURTADO</h2>
            <div class="row">
                <img src="assets/img/24px_telefono-inteligente.png" >
                <p>333.333.333</p>
            </div> 
            <div class="row">
                <img src="assets/img/24px_email.png" >
                <p>hurtado@gmail.com</p>
            </div>
            <div class="row">
                <img src="assets/img/24px_mapa-con-un-pequeno-simbolo-de-alfiler-dentro-de-un-circulo.png" >
                <p>Getafe,Madrid</p>
            </div>
            <div class="row">
                <img src="assets/img/24px_handshake.png">
                <p>Si</p>
            </div>
            <div class = "row">
                <a class = "row" routerLink="../perfileditar"><img id="edit-profile" src="assets/img/24pxORANGE_editar.png"><p id="editPerfil">Editar perfil</p></a>
            </div>

        </div>

    </div>

</div>

<div class="col">
    <!-- NAVEGACION -->
    
    <div class="rowNav" id="navBar">
        <a class="row" routerLink="../misproductos">Mis productos</a>
        <a class="row" routerLink="../historialpedidos">Mis envíos</a>
        <a class="row" routerLink="../pedidosactivos">Envios activos</a>
    </div>
    <div id="separador"></div>
</div>