.example-card {
    margin-top: 100px;
    border: solid 0.1px;
    border-color: #cac6c6;
    margin-bottom: 100px;
  }
  .textoContactos{
      font-family: 'Roboto', sans-serif;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }
  .cardTitle{
    font-family: 'Signika', sans-serif;
    text-align: left;
    color: #e67e22;
   }

  /* mat-card-header{
      padding: 10px;
      margin-bottom: -8px;
  } */
  mat-list-option:hover{
   
    background-color: #E67E22;
}
mat-list-option{
   
    border-radius: 7px;
}
button {
    border-radius: 25px;
    width: 85px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fdffee;
    font-size: 15px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    text-decoration: none;
    background-color: #267172;
    transition: box-shadow 0.16s ease;
  }
  button:hover {
    background: #408f91;
    box-shadow: none;
  }

  .cuerpoChat{
    height: 200px;
    font-family: 'Roboto', sans-serif;
    border: solid 0.1px;
    border-color: #cac6c6;
  }