<!-- <app-header></app-header> -->

<div class="row" style="margin: 25px;">
    <div class="col-2"></div>
    <div class="col-2">
        <mat-card class="example-card">

   
    
            <mat-selection-list #users [multiple]="false">
                <mat-list-option *ngFor="let user of typesOfUser" [value]="user">
                    <div class="row">
                        <div class="col-1"><img style=" width: 20px; height: 20px;" src="assets/img/ICOfruitBAG.png" ></div>
                        <div class="col-1"><p class="textoContactos">{{user}}</p></div>
                        
                    </div>
                    
                </mat-list-option>
                
              </mat-selection-list>
              
              
          </mat-card>
    </div>
    <div class="col-6">
        <mat-card class="example-card">
            <mat-card-header style="margin: 10px;">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="cardTitle">{{users.selectedOptions.selected[0]?.value}}</mat-card-title>
              
            </mat-card-header>
            
            <mat-card class="cuerpoChat" ><p class="textoContactos">"Los huertos molan que te cagas"</p> </mat-card>
            <mat-card-actions>
                <form class="example-form" style="margin: 10px;">
                    <mat-form-field class="example-full-width">
                      <mat-label>Concreta el envio</mat-label>
                      <input matInput #message maxlength="256" placeholder="Concreta el envio con el vendedor">
                      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    </mat-form-field>
                  </form>
              <button mat-button>Send</button>
              
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-2"></div>
    
  </div>
  
<!-- <app-header></app-header> -->
