<!-- <p>landing works!</p> -->

<div class="col" id="container">

    <div class="row">
    
        <img id="header" src="./../../../assets/img/HEADER.png" alt="la huerta">

      <!-- left --> 
        <div class="row" id="la">
            <h1>L<span>A</span></h1>    
        </div>
        <div class="row" id="title2">
            <h1><span>H</span>UERTA</h1>    
        </div>

      <!-- navBAr -->
    <div class="col2" id="huerta">
        <p>Entra en la Huerta</p>    
    </div>
    <div class="col2" id="barra1">
        <img src="../../../assets/img/Barra.png" > 
    </div>
    
    <div class="col2" id="prifileIcon">
       <img src="./../../../assets/img/profile-user.png"> 
    </div>



      <!-- right -->
        <div class="col2" id="text1">
            <h1>Recolecta</h1>    
        </div>
        <div class="col2" id="text2">
            <h3>desde tu</h3>    
        </div>
        <div class="col2" id="text3">
            <h1>Casa</h1>    
        </div>



    </div>

    <div class="row" id="body">

        <div class="col2" id="cesta">
            <img src="../../../assets/img/ICOfruitBAG.png" alt="cesta de fruta">
        </div>

        <div class="col2" id="bloqueTX1">
            <h2>PARA TODOS</h2>
            <p>Compra, vende o intercambia  </p>
            <p>productos agrícolas desde tu casa.</p>
        </div>

        <div class="col2" id="bloqueTX2">
            <h2>EN TODAS PARTES</h2>
            <p>La huerta llega a todos los lugares, busca </p>
            <p>por provincia o localidad y decide  si envías</p>
            <p>o recoges.</p>
        </div>

        <div class="col2" id="bloqueTX3">
            <h2>JUSTO</h2>
            <p>Cada vendedor fija libremente los </p>
            <p>precios de sus productos.</p>
        </div>

    </div>

</div>

<div class="col2">
    <img id="scarecrow" src="../../../assets/img/winstonchurchill.png" alt="scarecrow">
</div>




