<!-- <div class="row" id="footer">
    <a class="pp" href="">Politicas de Privacidad</a>
    <a class="contacto" href="">Contácto</a>
    <a class="about" href="">Sobre la Huerta</a>
    <a class="frecuentes" href="">Preguntas frecuentes</a>
    <a class="tw"><img style=" width: 20px; height: 20px;" src="./../../../assets/img/twitter.png" ></a>
    <a class="fb"><img style=" width: 20px; height: 20px;" src="./../../../assets/img/facebook.png" ></a>
    <img src="./../../../assets/img/FOOTER-DEF.png" > 
 </div>
 
 <div class="col2" style="background-image: url(src/assets/img/FOOTER-DEF.png);">
     <img id="scarecrow" src="../../../assets/IMG/SCAREcrow.png" alt="scarecrow">
 </div> -->

 <div class="toolbar">
    <a class="item" href="">Políticas de Privacidad</a>
    <a class="item" href="">Contacto</a>
    <a class="item" href="">Sobre la Huerta</a>
    <a class="item" href="">Preguntas frecuentes</a>
    <a class="icon"><img style=" width: 20px; height: 20px;" src="./../../../assets/img/twitter.png" ></a>
    <a class="icon"><img style=" width: 20px; height: 20px;" src="./../../../assets/img/facebook.png" ></a>
 </div>