<!-- <nav class="row">
    <a class="col" href=""><img class="mainIMG" src="assets/img/ICOfruitBAG.png" alt="Inicio"></a>
    <a ><h1 class="titulo">La Huerta</h1></a>
    <a type="button" data-toggle="modal" data-target="#exampleModal" ><img class="icono" src="assets/img/cestade-la-compra.png" alt=""></a>
    <a ><img class="icono" src="assets/img/usuario-de-perfil.png" alt=""></a>
   
    
</nav> -->
<div class="toolbar" role="banner">
  <img
    width="140"
    height="100"
    alt="Angular Logo"
    src="assets/img/ICOfruitBAG.png"
  />
  <h1>La Huerta</h1>
    <div class="spacer"></div>
    <div class="contenedor">
      <!-- <a mat-button matBadge="3" (click)="openDialog()"><a><img class="icono" src="assets/img/cestade-la-compra.png" alt=""></a></a>  -->
      <mat-icon class="icon" type="button" matBadge="3"  (click)="openDialog()">shopping_basket</mat-icon>
      <mat-icon class="icon" type="button">person</mat-icon>
  </div>
</div>
 