<mat-grid-tile-header>
<div class="toolbar" role="banner">
  <img
    routerLink="huerta"
    width="140"
    height="100"
    alt="Angular Logo"
    src="../../../assets/img/ICOfruitBAG.png"
  />
  <h1>La Huerta</h1>
    <div class="spacer"></div>
    <div class="contenedor">
      <mat-icon class="icon" type="button" matBadge="3"  (click)="openDialog()">shopping_basket</mat-icon>
      <mat-icon routerLink="perfil" class="icon" type="button">person</mat-icon>
      <mat-icon routerLink="registro" class="icon" type="button">exit_to_app</mat-icon>
      <mat-icon routerLink="chat" class="icon" type="button">message</mat-icon>
  </div>
</div>
</mat-grid-tile-header>