<h1 class = "cardtitle" style="margin-top:10px">Pedidos/envíos activos</h1>
<hr style="background-color: #e67e22;">

<div class="row">
  <div class="column">
    <h2>Pedidos</h2>

    <table class="pedidosEnvios" id="tablaPedido">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Origen</th>
          <th>Entrega</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tomate</td>
          <td>Salamanca</td>
          <td>14/04/21</td>
        </tr>
        <tr>
          <td>Zanahoria</td>
          <td>Palencia</td>
          <td>18/04/21</td>
        </tr>
        <tr>
          <td>Manzana</td>
          <td>Soria</td>
          <td>22/04/21</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <h2>Envíos</h2>
    <table class="pedidosEnvios" id="tablaPedido">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Origen</th>
          <th>Llegada</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tomate</td>
          <td>Salamanca</td>
          <td>14/04/21</td>
        </tr>
        <tr>
          <td>Zanahorias</td>
          <td>Palencia</td>
          <td>13/05/21</td>
        </tr>
        <tr>
          <td>Peras</td>
          <td>Soria</td>
          <td>17/05/21</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
